body {
    font-family: 'Turret Road', cursive;
}
h1 {
    text-decoration: underline;
}
li {
    font-weight: lighter;
}
.heading {
    text-transform: uppercase;
    text-shadow: 2px 2px 2px mediumvioletred;
}
.note {
    font-weight: bold;
    font-style: italic;
}
.todo-item {
    text-decoration: line-through red;
}